<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <meta charset="utf-8">
    <title>Assignment - CashFlo</title>
  </head>
  <body>
<div class="container">
  <h1 style="{possistion:'center'}">Assignment - CashFlo</h1>
  <button type="button" name="register"><a href="/register">Register</a></button>
  <button type="button" name="login"><a href="/login">Login</a></button>
  <button type="button" name="thumbnail"><a href="/thumbnail">Get Thumbnail</a></button>
</div>


  </body>
</html>
