<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thumbnail Download</title>
  </head>
  <body>
    <form class="ImageUrl" action="/thumbnail" method="post">
      <h4>Enter Public image url</h4>
      <input type="text" name="urlLink" >
      <button type="submit" name="submit">Submit</button>
      <img src="public/thumbnail1.png" alt="Resized Thumbnail">
    </form>

  </body>
</html>
